<%- include('../partials/head.ejs')%>

<body>

  <!-- HEADER -->
  <%- include('../partials/header.ejs')%>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
      class="fas fa-arrow-up"></i></button>


    <main class="edit-pasword" style="min-height: calc(100vh - 200px);"> 
        <div class="container-sm mt-5">
            <div class="row bg-light shadow rounded p-5">
                <form action="/users/edit-password/<%= usuario.id %>?_method=PUT" method="POST">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                        <div class="campo w-50">
                            <label for="password">Nueva contraseña</label>
                            <input type="password" name="profileUserEditPassword" id="password" placeholder="Ingrese su nueva contraseña">
                            <span><i class="fas fa-eye show" id="eyeToggle"></i></span>
                        </div>
                        <small class="alert-danger">
                        <%= locals.errores && locals.errores.profileUserEditPassword ? errores.profileUserEditPassword.msg : null %>
                        </small>
                        
                        <div class="campo w-50">
                            <label for="verify-password-user-profile">Confirmar contraseña</label>
                            <input type="password" name="confirmEditPassword" id="verify-password-user-profile" placeholder="Confirme su nueva contraseña">
                            
                        </div>
                        <small class="alert-danger">
                        <%= locals.errores && locals.errores.confirmEditPassword  ? errores.confirmEditPassword.msg : null %>
                        </small>
                        <button type="submit" class="btn btn-primary" style="color: white;font-size: 2rem;">Confirmar</button>
                        <a href="/" class="btn btn-warning" style="color: white;font-size: 2rem;">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>

  <!-- Footer -->
  <div class="footer-fixed-bottom">
    <%- include('../partials/footer.ejs')%>
  </div>

  <!-- Footer -->

  <!-- SCRIPT -->
  <%- include('../partials/scripts.ejs')%>

</body>

</html>