<%- include('../partials/head.ejs')%>

  <body class="login">
    <!--Botón ir hacia arriba-->
    <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
        class="fas fa-arrow-up"></i></button>
    <%- include('../partials/header.ejs')%>

      <main>
        <div class="main-container">
          <div class="main-form-login">
            <form action="/users/login/logData" method="POST">
              <h3>Mi cuenta</h3>
              <h6>Si ya estas registrado, ingresa aquí.</h6>
              <div><label for="correo">Email</label>
                <input class="controls" type="email" name="correoLogin" id="correo" >
                
              </div>
              <div class="campo">
                <label for="password">Contraseña</label>
                <input class="controls" type="password" name="passwordLogin" id="password">
                <span><i class="fas fa-eye show" id="eyeToggle"></i></span>
              </div>
                
              <p><a href="#">¿Olvidaste tu contraseña?</a></p>
              <div class="d-flex justify-content-end">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar" value="1" >
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                  </div>
            </div>
              <button  class="main-form-register-button" type="submit" >Ingresar</button>
              <span class="alert-danger"><%= locals.errores && errores.correoLogin ? errores.correoLogin.msg : null%> </span>

            </form>
          </div>
          <div class="main-form-register">
            <form action="/users/login/regData" method="POST">
              <h3>Registrate ahora</h3>
              <h6>Completa tu email y contraseña para registrarte.</h6>
              <div>
                <label for="nombre">Nombre</label>
                <input class="controls" type="text" name="nombre" id="nombre"
                  value="<%= locals.old && locals.old.nombre ? old.nombre : null%>">
                <small class="alert-danger ">
                  <%= locals.errores && locals.errores.nombre ? errores.nombre.msg : null %>
                    %>
                </small>
              </div>
              <div>
                <label for="apellido">Apellido</label>
                <input class="controls" type="text" name="apellido" id="apellido"
                  value="<%= locals.old && locals.old.apellido ? old.apellido : null%>">
                <small class="alert-danger ">
                  <%= locals.errores && locals.errores.apellido ? errores.apellido.msg : null %>
                    %>
                </small>
              </div>
              <div>
                <label for="correo">Email</label>
                <input class="controls" type="email" name="correo" id="correo"
                  value="<%= locals.old && locals.old.correo ? old.correo : null%>">
                <small class="alert-danger ">
                  <%= locals.errores && locals.errores.correo ? errores.correo.msg : null %>
                    %>
                </small>
              </div>
              <label for="password">Contraseña</label>
              <input class="controls" type="password" name="password" id="password">
              <small class="alert-danger ">
                <%= locals.errores && locals.errores.password ? errores.password.msg : null %>
                  %>
              </small>
              <label>Repita contraseña</label>
              <input class="controls" type="password" name="password2" id="contraseña" placeholder="">
              <div>
                <small class="alert-danger ">
                  <%= locals.errores && locals.errores.password ? errores.password.msg : null %>
                    %>
                </small> <br>
                <small class="alert-danger ">
                  <%= locals.errores && locals.errores.password2 ? errores.password2.msg : null %>
                    %>
                </small>
              </div>
              <p><input name="acepta" class="checkbox" type="checkbox"><a href="#"> Acepto los Terminos y
                  Condiciones.</a></p>
              <small class="alert-danger ">
                <%= locals.errores && locals.errores.acepta ? errores.acepta.msg : null %>
                  %>
              </small>
              <input  class="main-form-register-button" type="submit"/>
            </form>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <%- include('../partials/footer.ejs')%>
        <!-- Footer -->

        <!-- MAIN SCRIPTS-->
        <%- include('../partials/scripts.ejs')%>
  </body>

  </html>