<%- include('../partials/head.ejs')%>

<body>

  <!-- HEADER -->
  <%- include('../partials/header.ejs')%>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
      class="fas fa-arrow-up"></i></button>
  <main>
    <div class="container-sm">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-3 p-5 bg-light shadow rounded">
            <div class="d-flex justify-content-center"><img src="/img/users/avatar/default.png" alt="user-profile-img" class=" rounded-circle"></div>
            <div class="d-flex justify-content-center mt-3"><button class="btn-lg btn-primary" onclick="location.href='/users/edit-profile/<%= locals.usuario.id %>';" >Editar perfil</button></div>
          </div>
        <div class="col-sm-6 p-5 bg-light shadow rounded">
          <label for="name-user-profile">Nombre de Usuario</label>
          <p id="name-user-profile"><%= locals.usuario.nombre  %> </p>
          <label for="lastname-user-profile">Apellido de Usuario</label>
          <p id="lastname-user-profile"><%= locals.usuario.apellido  %></p>
          <label for="email-user-profile">Email de contacto</label>
          <p id="email-user-profile"><%= locals.usuario.correo  %></p>
          <label for="role-user-profile">Rol</label>
          <p id="role-user-profile">Usuario</p>
        </div>
        <% if (locals.usuario && locals.usuario.role ==="admin") { %>
          <div class="col-sm-4 mt-5">
            <button class="btn btn-warning"><a href="/products/add" style="font-size: 3rem;">AGREGAR UN PRODUCTO</a></button>
          </div>
        <% } %>
       
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%- include('../partials/footer.ejs')%>
  <!-- Footer -->

  <!-- SCRIPT -->
  <%- include('../partials/scripts.ejs')%>

</body>

</html>