<%- include('../partials/head.ejs')%>

<body>

  <!-- HEADER -->
  <%- include('../partials/header.ejs')%>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
      class="fas fa-arrow-up"></i></button>
  <main>
    <div class="product-detail-main-container">
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-md-6">
            <p><a href="/products/filter">Categoria </a>> <a href="#"><%= producto.category %></a> > <a href="#"><%= producto.age %> </a></p>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-center">
            <a href="/products/edit/<%= producto.id %>"><button class="btn btn-warning btn-lg p-3 mb-3">Editar</button></a>
            <form action="/products/delete/<%= producto.id %>?_method=DELETE"
              method="POST"><button class="btn btn-danger btn-lg p-3 ms-4 mb-3">Borrar</button></form>
            
          </div>
        </div>
        <div class="card">
          <div class="row g-0">
            <!-- Carousel -->
            <div class="col-md-6 border-end">
              <div class="d-flex flex-column justify-content-center">
                <div class="main_image">
                  <img src="/img/detalle/<%= producto.images[0] %>" id="main_product_image" height="350" class="p-2"/>
                </div>
                <div class="thumbnail_images">
                  <ul id="thumbnail">
                    <% producto.images.forEach(imagen=> { %>
                      <li>
                        <img onclick="changeImage(this)" src="/img/detalle/<%= imagen%>" height="70" width="70" class="p-2"/>
                      </li>
                    <% }) %>
                   
                   
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="p-3 right-side">
                <div class="d-flex justify-content-between align-items-center">
                  <h3 class="mb-5 display-4"><%= producto.name%></h3>
                </div>
                <div class="mt-2 pr-3 content">
                  <p class="mb-5" id="info-productDetail">
                    <%= producto.description %>
                  </p>
                  <ul class="mt-5 mb-5 ms-3" id="details-info-productDetail">
                    <li><%= producto.details.detail1 %> </li>
                    <li><%= producto.details.detail2 %> </li>
                    <li><%= producto.details.detail3 %> </li>
                  </ul>
                </div>
            

                <h6 class="me-5">*imagen meramente ilustrativa</h6>

              </div>
            </div>
            <div class="col-md-6 border-end">
              <div class="d-flex align-items-center flex-column align-self-center">
                <% if(producto.discount !== 0) { %> 
                  <p class="text-success">
                    <span class="">$<%= producto.price %> </span>
                    /
                    <b><%= producto.discount %>% OFF</b>
                  </p>
                
                  <h2 class="product-detail-price display-2">
                    $<%= toThousand(finalPrice(producto.price,producto.discount)) %> 
                    <% }else{ %> 		
                    </h2>
                  <h2 class="product-detail-price display-2">
                    $<%= toThousand(producto.price) %>
                    <% } %> 	
                  </h2>
             
                <h6><em>*Precio comprando por la web</em></h6>
              </div>
              <h5 class="mt-5 ms-5 mb-5">SKU: <%= producto.sku %></h5>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center ">
              <% if (producto.stock === 0) { %>
                <h5 class="mb-5 alert alert-danger"> No hay Stock Disponible </h5>
              <% }else{ %>
                <h5 class="mb-5 alert alert-success">Hay Stock Disponible </h5>

                <% } %>
              <div
                class="def-number-input number-input safari_only w-100 d-flex flex-row mb-3 align-items-center justify-content-evenly">
                <div>
                  <% if (producto.stock === 0) { %>
                
                    <button id="shopping-cart-button" type="button"
                      class="btn btn-danger btn-block waves-effect waves-light" disabled="disabled">Sin Stock</button>
                  
                    <% }else{ %>
                      <a href="/products/cart/<%= producto.id %>"><button id="shopping-cart-button" type="button"
                        class="btn btn-primary btn-block waves-effect waves-light">Añadir al Carrito</button></a>
                     
                      <% } %>
                </div>
                <div>
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"><i
                      class="fas fa-arrow-down"></i></button>
                  <input class="quantity" min="0" name="quantity" value="1" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"><i
                      class="fas fa-arrow-up"></i></button>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center w-60 p-5 product-detail-info-delivery">
                <i class="fas fa-truck"></i>
                <p>Envio gratis a CABA y Gran Bs. As.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%- include('../partials/footer.ejs')%>
  <!-- Footer -->

  <!-- SCRIPT -->
  <%- include('../partials/scripts.ejs')%>

</body>

</html>