<%- include('../partials/head.ejs')%>

    <body>
        <!-- HEADER -->
        <%- include('../partials/header.ejs')%>
            <!--Botón ir hacia arriba-->
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
                    class="fas fa-arrow-up"></i></button>

                    <main class="products-editor-page">
                        <div class="container mt-5 p-5">
                          <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                            <div class="row">
                              <h1 class="display-6">Modificar un producto</h1>
                                  <div class="mb-3">
                                    <input type="text" class="form-control" id="formInputProductName" value="<%= producto.name %>" maxlength="40" name="name" required>
                                    <span class="alert-danger"><%= locals.errores && errores.name ? errores.name.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                                  </div>
                                  
                                  <div class="mb-3 mt-5">
                                    <label class="bg-light w-100 border" for="formInputProductDescription">Descripción</label>
                                    <textarea rows="6"class="form-control" id="formInputProductDescription" aria-label="textarea" maxlength="400" name="description" required><%= producto.description %> </textarea>
                                    <span class="alert-danger"><%= locals.errores && errores.description ? errores.description.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                                  </div>
                            </div>
                           
                            <div class="row mt-5">
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect" aria-label="Floating label select category"  name="category" >
                                  <% categorias.forEach(categoria => { %>
                                      <option value="<%= categoria.id %>" <%= categoria.id == producto.categoryId ? 'selected' : null %> required><%= categoria.name %></option>
                                     <% }) %>
                                 </select>
                                  <label for="floatingSelect">Categoría</label>
                                  <span class="alert-danger"><%= locals.errores && errores.category ? errores.category.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                                </div>                                
                              </div>
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect2" aria-label="Floating label select brand" name="brand" required>
                                    <% marcas.forEach(marca=> { %>
                                      <option value="<%= marca.id %>" <%= marca.id == producto.BrandId ? 'selected' : null %> ><%= marca.name %></option>
                                     <% }) %>
                                   </select>
                                  <label for="floatingSelect2">Marca</label>
                                  <span class="alert-danger"><%= locals.errores && errores.brand ? errores.brand.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                                </div>
                              </div>
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect3" aria-label="Floating label select age" name="age" required>
                                    <% edades.forEach(edad=> { %>
                                      <option value="<%= edad.id %>" <%= edad.id == producto.AgeiD ? 'selected' : null %> ><%= edad.name %></option>
                                     <% }) %>
                                  </select>
                                  <label for="floatingSelect3">Edades</label>
                                  <span class="alert-danger"><%= locals.errores && errores.age ? errores.age.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                                </div>                     
                              </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                              <div class="col-sm-2 mb-3">
                                <label for="product-add-SKU-input" class="bg-light border border-secondary w-100 text-center">SKU</label>
                                <input value="<%= producto.sku %>" class="w-100" type="text"  id="product-add-SKU-input" maxlength="9" name="sku" required>
                                <span class="alert-danger"><%= locals.errores && errores.sku ? errores.sku.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                              </div>
                              <div class="col-sm-2 mb-3">
                                <label for="product-add-price-input" class="bg-light border border-secondary w-100 text-center">Precio</label>
                                <input value="<%= producto.price %>" class="w-100" type="text"  id="product-add-price-input" maxlength="9" name="price" required>
                                <span class="alert-danger"><%= locals.errores && errores.price ? errores.price.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                              </div>
                              <div class="col-sm-2 mb-3">
                                <label for="product-add-stock-input" class="bg-light border border-secondary w-100 text-center">Stock</label>
                                <input value="<%= producto.stock %>" class="w-100" type="text"  id="product-add-stock-input" maxlength="9" name="stock" required>
                                <span class="alert-danger"><%= locals.errores && errores.stock ? errores.stock.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                              </div>
                              <div class="col-sm-2 mb-3">
                                <label for="product-add-discount-input" class="bg-light border border-secondary w-100 text-center">Descuento</label>
                                <input value="<%= producto.discount %>" class="w-100" type="text"  id="product-add-discount-input" maxlength="2" name="discount" required>
                                <span class="alert-danger"><%= locals.errores && errores.discount ? errores.discount.msg : null%> </span>
                                    <div class="invalid-feedback">
                                      El campo no puede estar vacío.
                                    </div>
                              </div>
                              <div class="col-sm-2 mb-3 form-check form-switch d-flex align-items-center justify-content-evenly">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"  value="<%= producto.destacado === 1 ?  0  : 1 %>"   <%= producto.destacado  ? 'checked' : null%> name="destacado">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Producto Destacado</label>
                              </div>
                            </div>
                            <div class="row mt-5 justify-content-evenly">
                              <button type="submit" class="btn-primary mb-3 col-sm-3">Modificar producto</button>
                              <button type="reset" class="btn-warning mb-3 col-sm-3">Vaciar campos</button>
                              
                            </div>
                          </form>
                        </div>
                    </main>

            <!-- Footer -->
            <%- include('../partials/footer.ejs')%>
                <!-- Footer -->

                <!--   SCRIPTS -->
                <%- include('../partials/scripts.ejs')%>

    </body>

    </html>